@charset "UTF-8";
/* line 5, /Users/kang.shindeok/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.0.rc.0/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, /Users/kang.shindeok/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.0.rc.0/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, /Users/kang.shindeok/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.0.rc.0/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, /Users/kang.shindeok/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.0.rc.0/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, /Users/kang.shindeok/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.0.rc.0/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, /Users/kang.shindeok/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.0.rc.0/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, /Users/kang.shindeok/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.0.rc.0/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, /Users/kang.shindeok/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.0.rc.0/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, /Users/kang.shindeok/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.0.rc.0/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 10, sass/main.scss */
body {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  cursor: default;
}

/* line 25, sass/main.scss */
button,
a[ng-click] {
  outline: none;
}

/* line 14, /Users/kang.shindeok/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/susy-2.1.3/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 78, sass/main.scss */
html {
  font-size: 62.5%;
}

/* line 82, sass/main.scss */
body {
  font-family: Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
}

/* line 96, sass/main.scss */
#main-container {
  overflow: hidden;
}

/* line 108, sass/main.scss */
.shortcut-icon {
  display: inline-block;
  margin: 2px;
  background-color: #111;
}

/* line 113, sass/main.scss */
.shortcut-icon:after {
  background-color: #111;
  display: block;
  color: #FFF;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
}

/* line 121, sass/main.scss */
.icon-144x144 {
  width: 144px;
  height: 144px;
  background: url('../images/touch/apple-touch-icon-144x144-precomposed.png?d25484be');
}

/* line 126, sass/main.scss */
.icon-144x144:after {
  content: '144x144';
  line-height: 144px;
}

/* line 131, sass/main.scss */
.icon-114x114 {
  width: 114px;
  height: 114px;
  background: url('../images/touch/apple-touch-icon-114x114-precomposed.png?6abd3386');
}

/* line 136, sass/main.scss */
.icon-114x114:after {
  content: '114x114';
  line-height: 114px;
}

/* line 141, sass/main.scss */
.icon-72x72 {
  width: 72px;
  height: 72px;
  background: url('../images/touch/apple-touch-icon-72x72-precomposed.png?9e2391e0');
}

/* line 146, sass/main.scss */
.icon-72x72:after {
  content: '72x72';
  line-height: 72px;
}

/* line 151, sass/main.scss */
.icon-57x57 {
  width: 57px;
  height: 57px;
  background: url('../images/touch/apple-touch-icon-57x57-precomposed.png?8c0d9454');
}

/* line 156, sass/main.scss */
.icon-57x57:after {
  content: '57x57';
  line-height: 57px;
}
