@import "partials/base";

// Global reset style
@include global-reset;

// =============================================================================
// Additional reset
// =============================================================================

body {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  
  @include user-select(none);
  
  -webkit-text-size-adjust: none;
  
  cursor: default;
}

button,
a[ng-click] {
  outline: none;
}

// =============================================================================
// Mixins
// =============================================================================

@mixin font-size($size) {
  // `rem` supported browser: Firefox3.6+, Chrome, Safari5, IE9+
  font-size: $size+px;
  font-size: $size/10+rem;
}

@mixin line-height($size) {
  line-height: $size+px;
  line-height: $size/10+rem;
}

// =============================================================================
// Configuration
// =============================================================================

$container-max-width: 960px;

// =====================================
// Breakpoint
// (http://breakpoint-sass.com/)
// =====================================

$breakpoint-desktop: 900px;
$breakpoint-tablet: 600px;
// otherwise mobile (mobile first)

// =====================================
// Susy
// (http://susy.oddbird.net/)
// =====================================

$susy: (
  global-box-sizing: border-box,
  use-custom: (rem: true)
);

@include border-box-sizing;

// =============================================================================
// Main style
// =============================================================================

html {
  font-size: 62.5%; // this mean 1em equal to 10px
}

body{
  // Japanese font family
  //（http://www.dtp-transit.jp/misc/web/post_1881.html）
  // 1. ゴシック体
  font-family: Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  // 2. 明朝体
  //font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
  // 3. 等幅書体
  //font-family: "Osaka－等幅", Osaka-mono, "ＭＳ ゴシック", "MS Gothic", monospace;
  // 4. OS X限定 丸ゴシック体
  //font-family: "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN", "メイリオ", Meiryo, fantasy;

  @include font-size(14);
}

// =====================================
// Container
// =====================================

#main-container {
  overflow: hidden;
} // #main-container

.container {
  position: relative;
  @include container($container-max-width);
  @include clearfix;
} // .container

// =====================================
// Header
// =====================================

#header {
  background: #666;
  
  .logo {
    @include font-size(20);
    @include line-height(50);
    padding: 0 10px;

    &:before {
      content: '';
      display: inline-block;
      width: 30px;
      height: 30px;
      margin: 6px 8px -6px 0;
      @include background(image-url('logo.png') no-repeat);
      @include background-size(contain);
    }
  }
} // #header

// =====================================
// Content
// =====================================

#content {
  p { 
    padding: 10px;
    @include font-size(20);
  }

  $sample-sprite: get-sprite("sample");

  .sample-sprite {
    display: inline-block;

    margin: 0 5px 0 0;
    &:last-child {
      margin: 0 0 0 0;
    }

    @include sprite-base($sample-sprite, 2);

    &.s { @include sprite-part($sample-sprite, 's', 2); }
    &.p { @include sprite-part($sample-sprite, 'p', 2); }
    &.r { @include sprite-part($sample-sprite, 'r', 2); }
    &.i { @include sprite-part($sample-sprite, 'i', 2); }
    &.t { @include sprite-part($sample-sprite, 't', 2); }
    &.e { @include sprite-part($sample-sprite, 'e', 2); }
  }
} // #content

// =====================================
// Footer
// =====================================

#footer {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  
  background: #666;
  
  .copyright {
    @include font-size(14px);
    @include line-height(22);
    text-align: center;
  }
} // #footer
